<div class="social">
    <div id="fb-root"></div>
    <ul class="social-buttons">
        <li>
            <iframe src="https://ghbtns.com/github-btn.html?user=minfingt&repo=minfingt.github.io&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
        </li>
        <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://minfingt.github.io/" data-text="Minfin Open Source">Tweet</a>
        </li>
        <li>
            <div class="fb-like" data-href="http://minfingt.github.io/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </li>
    </ul>
</div>
